#login{
	background-color:aqua;
	padding:5px;
	color:black;
	width:10%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

body{
	margin:0 auto;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHWKwko4DRTTFuyiUydUgsHPrpLm2Jyzt21qw5-B_DOIdUtZNX");
	background-size:100% 720px;
	background-repeat:no-repeat;
}

.container{
	width:550px;
	height:250px;
	text-align:center;
	background-color:skyblue;
	border-radius:20px;
	margin:0 auto;
	margin-top:200px;
}
